AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-key
AWS_SECRET_ACCESS_KEY=your-secret
DYNAMODB_TABLE=FieldFlowRecords
NEXT_PUBLIC_COGNITO_POOL_ID=us-east-1_kpjmcFVqD
NEXT_PUBLIC_COGNITO_CLIENT_ID=7r60o7fnej4vitoksrp6e93n9g
